/* Estilos generales */

body {
	font-family: "Helvetica", "Arial", "Open Sans", sans-serif;
	font-size: 18px;
	color: #2b2626;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #178aff;
}

h1 {
	font-family: "Tahoma";
	color: darkviolet;
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
}

span {
	color: red;
}

/* saco subrrayado del vinculo y cambio el color*/
a {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #2b2626;
	padding-left: 3px;
	padding-right: 3px;

}

a:hover {
	color: grey;
	background-color: #FFFFFF;
}

p {
	text-align: justify;
	/* interlineado */
	line-height: 1.5;
}

img {
	/* display hace que la imagen se vea como caja, aplica a cualquier etiqueta  */
	display: block;
	margin-left: auto;
	margin-right: auto;
}





